.product-container {
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    padding: 4em 20em;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 200px;
}

.product-img  {

    width: 60svh;

}

/* Schermi di Desktop Standard (oltre 1200px) */
@media screen and (max-width: 1200px) {
    .product-container {
        padding: 4em 15%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .product-img  {

        margin-top: 20px;
    
    }
}

/* Laptop o schermi di dimensioni medie (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .product-container {
        padding: 4em 10%;
        flex-direction: row;
        justify-content: space-between;
    }
}

/* Tablet (max-width: 768px) */
@media screen and (max-width: 768px) {
    .product-container {
        padding: 3em 20%;
        width: auto;
        flex-direction: column;
        justify-content: center;
    }
}

/* Smartphone medio (max-width: 600px) */
@media screen and (max-width: 600px) {
    .product-container {
        padding: 2em 2%;
        flex-direction: column;
        justify-content: center;
    }
}


@media screen and (max-width: 500px) {

    .product-container {
        padding: 4em 2em;
        display: flex;
        flex-direction: column;
        justify-content: auto;
    }

}